:host {
  display: block;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  overflow: auto;
  flex: 1 0 auto;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.table {
  position: relative;

  &__name {
    min-width: 100px;
  }

  &__company {
    min-width: 100px;
  }

  &__balance {
    min-width: 100px;
  }

  &__email {
    min-width: 250px;
  }

  &__address {
    min-width: 200px;
  }

  &__tags {
    min-width: 300px;
  }

  &__visible {
    cursor: pointer;
  }

  &__section {
    position: absolute;
    right: 60px;
    top: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    overflow-y: scroll;
    max-height: 300px;
  }

  &__add {
    position: relative;
  }
}

.vision {
  visibility: hidden;
}
